@import 'src/styles/base';

.doctor-card-component {
    background: white;
    padding: $spacing-small;
    display: flex;
    column-gap: $spacing-small;
    text-align: left;

    .profile {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
    }

    .title {
        font-weight: 600;
    }

    .degree {
        color: $color-primary;
        font-size: $font-size-small;
        font-weight: 600;
    }

    .spec {
        color: $color-blue;
        font-size: $font-size-small;
    }

    .specialties-wrapper,
    .academic-wrapper {
        display: flex;
        flex-direction: row;
    }

    .location-wrapper {
        display: flex;

        .location {
            font-weight: 300;
            font-size: $font-size-small;
            margin-left: $spacing-xsmall;
        }
    }
}