@import 'src/styles/base';

.clinic-page {
    padding: $spacing-big;
    color: $color-blue;

    .add {
        width: 100%;
        margin-top: $spacing-xsmall;
    }

    .grid {
        display: grid;
        grid-template-columns: 30% 70%;
        column-gap: $spacing-small;


    }

    .revendica {
        margin-bottom: 15px;

        div:first-of-type {
            margin-bottom: 5px;
            color: #17616C;
            font-weight: bold;
        }
    }

    .schedule-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: $spacing-medium 0;

        .fields-wrapper {
            display: grid;
            padding: 0 $spacing-small $spacing-small;
            gap: $spacing-small;
        }

        .container-title {
            font-size: $font-subtitle;
            margin-bottom: $spacing-small;
        }

        .weekdays-container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        .day {
            background-color: rgba($color-primary, 0.8);
            padding: $spacing-small 10px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: inherit;

            &.active {
                background-color: $color-primary;

                .interval {
                    img {
                        background-color: white;
                        opacity: 1;
                        pointer-events: unset;
                    }
                }
            }
        }

    }

    .container-title {
        font-size: $font-subtitle;
        text-align: start;
        width: 100%;
        margin: $spacing-small 0;
    }

    .rating {
        color: white;
        background: $color-primary;
        font-size: $font-size-xbig;
        padding: 0.5rem 0;
        margin-top: -0.25rem;
    }

    .clinic-container {
        display: flex;
        margin-bottom: $spacing-small;

        .image-container {
            padding: $spacing-small $spacing-small 0 $spacing-small;
            background-color: white;
            border-radius: 10% 10% 0 0;
            display: flex;
            flex-direction: column;
            justify-content: end;

            img {
                height: 12rem;
            }
        }

        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;


            .flex-wrapper {
                display: flex;
                justify-content: space-between;
                margin-left: $spacing-small;
                align-items: center;

                .type,
                .name {
                    text-align: start;
                }

                .address {
                    margin-bottom: $spacing-default;

                }
            }

            .rating-container {
                display: grid;
                grid-template-columns: 3fr 1fr;
                background-color: white;
                justify-content: space-between;
                align-items: center;

                .upper-flex {
                    display: flex;
                    column-gap: $spacing-small;
                    align-items: center;
                    padding: 1rem 0.62rem;

                    .see-reviews {
                        cursor: pointer;
                        color: $color-primary;
                        text-decoration: underline;
                    }
                }

                .stars-container {
                    margin-top: $spacing-xsmall;
                }

                .facilities {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    background-color: #F5F9F9;
                    padding: 0.75rem 2rem;
                    row-gap: $spacing-small;
                }

            }

            .title-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .type {
                    color: #09272B;
                    font-size: $font-subtitle;
                }

                .name {
                    color: $color-dark-blue;
                    font-size: $font-title;
                }

                .address {
                    color: $color-primary;
                }
            }

            .links-wrapper {
                display: flex;
                flex-direction: row;
                column-gap: $spacing-small;
                margin-bottom: $spacing-medium;

                &.small-margin-bottom {
                    margin-bottom: 10px;
                }

                a {
                    margin: 0;
                }
            }

            .favorite-button {
                border: 2px solid $color-primary;
                padding: $spacing-small;
                margin-bottom: $spacing-medium;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-primary;
                cursor: pointer;
                user-select: none;
                background-color: transparent;

                img {
                    margin-right: $spacing-small;
                }
            }
        }
    }

    .add-review-wrapper {
        margin-top: 20px;

        .button {
            width: 30%;
            margin: auto;
        }

        .add-review-form {
            row-gap: $spacing-xsmall;
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
            }

            img {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
            }

            .stars-container {
                margin-bottom: $spacing-small;
            }
        }
    }

    .reviews-container {
        .container-title {
            text-align: center;
        }
    }

    .contact-container {
        column-gap: $spacing-small;
        row-gap: $spacing-small;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 $spacing-small;

        .contact-card {
            display: flex;
            flex-direction: row;
            background-color: white;
            padding: 0.75rem;

            img {
                margin-right: 0.75rem;
            }

            &.emergency {
                background-color: #FCEAE8;
                border: 1px solid #EB8676;
                order:-1;

                div {
                    .type {
                        color: black;
                    }
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: black;
                margin-right: $spacing-small;
                white-space: nowrap;

                .type {
                    color: $color-primary;
                    font-size: $font-small;
                }
            }
        }
    }

    .col-2 {
        display: flex;
        flex-direction: row;
        column-gap: $spacing-small;
        margin-top: $spacing-small;
    }

    .info-right-container,
    .info-left-container {
        width: 100%;
    }

    .info-left-container {}

    .info-right-container {
        .result-title {
            color: $color-dark-blue;
            font-weight: 300;
            text-align: start;
            margin-bottom: $spacing-small;
        }

        .page-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: $spacing-small;
        }

        .col,
        .col-2 {
            .dropdown {
                background-color: white;
                padding: $spacing-small;
                margin: $spacing-small 0;

                &:first-of-type {
                    margin-right: $spacing-small;

                }
            }
        }

        .description-container {
            background-color: white;
            padding: $spacing-small;
            text-align: left;
            font-size: $font-normal;
            font-style: italic;
            line-height: 1.5rem;
        }
    }
}

@media screen and (max-width: $mobile-big-width) {
    .clinic-page {
        padding: $spacing-small;
        width: 100vw;

        .col-2 {
            flex-direction: column !important;
        }

        .grid {
            display: flex !important;
            flex-direction: column-reverse !important;
        }

        .container-title {
            margin-top: $spacing-small;

        }

        .mobile{
            display: block;

            .header-container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .type {
                    font-size: $font-small;
                }

                .name {
                    font-size: $font-normal;
                    font-weight: 600;
                }

                .container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: $spacing-small;
                }

                .text-container {
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                }

                .image-container {
                    padding: $spacing-small;
                    background-color: white;
                    border-radius: 10% 10% 0 0;

                    img {
                        width: 3.1rem;
                        height: 3.1rem;
                    }
                }

            }

            .reviews-container {
                display: flex;
                flex-direction: row;
                background-color: white;
                padding: $spacing-small;
                align-items: center;
                justify-content: space-between;
                margin-top: $spacing-small;

                .view-reviews {
                    color: $color-primary;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .contact-container {
                background-color: #F2F3F5;
                margin-top: $spacing-small;
                padding: $spacing-small;
            }

            .rating {
                padding: 0.2rem 0;
            }

            .view-more-btn {
                padding: $spacing-small;
                background-color: #667284;
                color: white;
                cursor: pointer;
            }

            .hide {
                display: none;
            }
        }
    }

    .home-page {
        .results-container {
            margin-top: $spacing-default;
        }

        .content {
            display: flex;
            flex-direction: column;

            .container-title {
                .title {
                    text-align: left;
                }

                .subtitle {
                    text-align: right;
                }
            }

            .carousel-container {
                margin-top: $spacing-medium;
            }

            .slick-track,
            .slick-list,
            .carousel-container {
                width: 75vw !important;

                .text-container {
                    margin-left: 0;
                }

                .carousel-text {
                    width: 50vw;
                }
            }

            .clinic-filter-container {
                flex-direction: column;

                .text-container {
                    align-items: center;
                    margin-left: 0;
                }

                .contact-wrapper {
                    display: none;
                }
            }
        }

        .newsletter-component {
            img {
                display: none;
            }

            .button {
                width: 100% !important;
            }
        }

        .main-title {
            display: flex;
            flex-direction: column;
            font-size: $font-subtitle;
            row-gap: $spacing-small;
        }

        .searchbar {
            padding: 0;
            margin-bottom: $spacing-small;
        }

        .tags-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 1.18rem;

            .tag-container {
                flex-direction: column;
                padding: $spacing-xsmall ;
                min-width: 40vw;
                margin: 0;
                width: 100%;

                .text-wrapper {
                    margin: 0;
                    align-items: center;
                }

                .title {
                    font-weight: $font-weight-bold;
                    font-size: $font-size-small !important;

                }

                img {
                    width: 3.1rem !important;
                }
            }
        }
    }
}