@import 'src/styles/base';

.thank-you-page{
    margin: $spacing-page;
    .button{
        width:25%;
        margin: $spacing-big auto auto auto;
    }
    .text-container{
        row-gap:$spacing-xsmall;
    }
}