@import 'src/styles/base';

.thank-you-page{
   margin:auto;
   max-width:70%;
   
    .button{
        width:25%;
        margin: $spacing-big auto auto auto;
    }
    .text-container{
        row-gap:$spacing-xsmall;
    }
}