@import 'src/styles/base';

.add-unit-page {
    margin:$spacing-section auto;
    max-width:70%;

    .button {
        width: 25%;
        margin: $spacing-big auto auto auto;
    }
}

@media screen and (max-width: $mobile-big-width) {
    .add-unit-page {
        margin: $spacing-small $spacing-small $spacing-medium $spacing-small;

    }
}