@import 'src/styles/form';

.clinic-profile-page {

  .extra_data_row {
    display: flex;
    align-items: center;
    margin-top: $spacing-small;
    flex-direction: column;
    align-items: flex-start;

    select {
      width: 100%;
    }

    input {
      width: 100%;
    }

    img {
      margin: $spacing-small auto auto auto;
      height: 25px;
    }
  }

  .textarea-column {
    display: flex;
    flex-direction: column;

    textarea {
      margin-bottom: $spacing-medium;
    }
  }

  .invite-btn {
    width: 40%;
  }

  .container-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
      color: $color-primary;
      border-radius: 100%;
      border: 2px solid $color-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.25rem;
      height: 1.25rem;
      font-weight: 600;
      padding-bottom: 3px;
      cursor: pointer;
    }
  }


  .add-photo {
    color: #667284;
    text-decoration: underline;
    margin-left: $spacing-small;
    cursor: pointer;
    font-size: $font-normal;

    img {
      width: 4rem;
      height: 4rem;
      object-fit: cover;
    }
  }

  .delete-button {
    color: $color-secondary;
    text-decoration: underline;
    margin-left: $spacing-small;
    margin-top: $spacing-small;
    cursor: pointer;
    text-align: right;
  }

  .card-HQ {
    display: grid;
    grid-template-columns: 32px auto;
    grid-gap: $spacing-small;
    padding: $spacing-small;
    margin-right: $spacing-default;
    max-width: 170px;
    border: 1px solid #99A1AD;
    border-radius: 2px;
    background-color: #F2F7FF;
    opacity: 0.4;
    transition: opacity 0.3s;
    cursor: pointer;
    height: 72px;

    &:hover {
      opacity: 1;
      background-color: rgba(white, 0.8);
    }

    &.highlight {
      background-color: white;
      opacity: 1;
    }

    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }

    .hq-data {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: calc(150px - 32px - 20px);

      div {
        &:first-of-type {
          font-weight: bold;
        }
      }
    }
  }

  .textarea-description {
    padding: $spacing-small;
    height: 257px;
  }

  .weekdays-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .time-wrapper {
    border: 1px solid #E5E7EA;

    .time-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $spacing-medium;
      column-gap: $spacing-medium;

      .start-time,
      .end-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input[type="time"]::-webkit-calendar-picker-indicator {
          background: none;
          display: none;
        }

        input {
          padding: $spacing-small $spacing-medium;
        }

        span {
          margin-bottom: $spacing-small;
        }
      }
    }
  }

  .button {
    width: 30%;

    &.border-button {
      width: 12% !important;
      margin: $spacing-default auto;
    }
  }


  .day {
    background-color: rgba($color-primary, 0.25);
    padding: $spacing-small 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #D1DFE2;
    }

    &.active {
      background-color: $color-primary;

      .interval {
        img {
          background-color: white;
          opacity: 1;
          pointer-events: unset;
        }
      }
    }
  }

  .interval {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      background-color: rgba(white, 0.1);
      opacity: 0.1;
      pointer-events: none;
      border-radius: 50%;
      height: 17px;
      margin-left: 5px;
    }
  }

  // .col-85 {
  //   width: 85%;
  // }
}

@media screen and (max-width: $mobile-big-width) {
  .clinic-profile-page {

    .button {
      &.border-button {
        width: 50% !important;
      }
    }

    .schedule-container {
      .fields-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0;
      }

      .weekdays-container {
        display: flex;
        flex-direction: column;
        width: 90%;
      }

      .time-wrapper {
        padding: 0 $spacing-xsmall;
      }
    }
  }
}
