@import 'src/styles/base';

.forget-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: $spacing-default auto auto;

  .forget-container {
    display: flex;
    flex-direction: column;
    width: 60%;

    .info-text {
      margin-bottom: $spacing-default;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      margin: auto;

      &.bigger {
        width: 80%;

        a {
          width: 60%;
          margin: auto;
        }
      }

      input {
        border: 1px solid $color-primary;
        border-radius: 2px;
        padding: 12px;
        box-shadow: 0 3px 6px 0 rgba(black, 0.2);

        &.full-width {
          width: 100%;
        }
      }

      label {
        font-size: $font-normal;
        color: $color-dark-blue;
        margin: $spacing-xsmall 0;
      }


      .margin-top {
        margin-top: $spacing-default;
      }

    }
  }
}

@media screen and (max-width: $mobile-big-width) {
  .forget-password-page {
    flex-direction: column;
    width: 90% !important;
    margin: $spacing-big $spacing-default;

    img {
      max-height: 9rem;
      width: inherit;
      margin-top: $spacing-medium;
    }

    .forget-container {
      width: 100% !important;

      .info-text {
        padding: 0 $spacing-medium;
        text-align: justify;
      }

      form {
        width: 90% !important;
      }
    }
  }
}