@import '../../styles/base.scss';

.doctor-data-page {
    margin: $spacing-page;

    .data-container {}

    .textarea-column {
        display: flex;
        flex-direction: column;

        textarea {
            margin-bottom: $spacing-medium;
        }
    }

    .invite-btn {
        width: 40%;
    }

    .container-subtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .close {
            color: $color-primary;
            border-radius: 100%;
            border: 2px solid $color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.25rem;
            height: 1.25rem;
            font-weight: 600;
            padding-bottom: 3px;
            cursor: pointer;
        }
    }

    .checkbox-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: $spacing-default;
    }

    button {
        margin-top: $spacing-big;
    }
}