@import 'src/styles/base';
 

.add-profile-page {
  .profiles-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: $spacing-small;

    .profile-card {
      background: white;
      padding: $spacing-medium;
      width: 13.3rem;
      display: flex;
      flex-direction: column;
      font-size: $font-medium;
      align-items: center;
      justify-content: center;
      gap: $spacing-medium;
      border-radius: 8px;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}