@import 'src/styles/form';

.reset-password-page {
    margin: $spacing-page;

    form {
        row-gap: $spacing-xsmall;
        display: flex;
        flex-direction: column;
        margin-top: $spacing-default;
        text-align: left;

        &.bigger {
            text-align: center;
        }

        a {
            color: $color-primary;
            text-decoration: underline;
        }

        .margin-top {
            margin-top: $spacing-default;
        }
    }
}

@media screen and (max-width: $mobile-big-width) {

    .reset-password-page {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
}