@import 'src/styles/base';

.header {
  height: 80px;
  width: 100%;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  padding: 0 3.125rem;

  .logo {
    cursor: pointer;
  }

  .hamburger_menu {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: end;

    .menu_items {
      padding-right: 1.625rem;
    }
  }

  a {
    text-decoration: none;
    font-size: $font-normal;
    color: $color-font;
    margin-right: $spacing-medium;
    transition: color 0.1s $ease-in, text-shadow 0.1s $ease-in-out;

    &:hover {
      color: $color-primary;
      text-shadow: 0 3px 8px 0 rgba(black, 0.2);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .active {
    color: $color-primary;
    text-shadow: 0 1px 2px 0 rgba(black, 0.3);
    text-decoration: underline;
  }

  .user_profile_container_user {
    @include flex-centered;

    .profile-text {
      margin-right: $spacing-xsmall;
    }

    .profile_pic {
      width: 65px;
      height: 65px;
      border-radius: $radius-round;
    }
  }

  .hamburger_icon,
  .close_btn {
    display: none;
  }

  .user_profile_container_no_user {}
}

@media screen and (max-width: $mobile-big-width) {
  .header {
    height: 2.5rem;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    

    &.fix{
      background-color: $color-background;
      position: fixed;
    }

    a {
      margin: 0 !important;
    }

    .logo {
      width: 7rem;
      cursor: pointer;
    }

    .hamburger_icon,
    .close_btn {
      display: block !important;
    }

    .close_btn{
      margin-top: auto;
      margin-bottom: 2rem;
    }
    .user_profile_container_user{
    width: 100%;
    padding: 2;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    }

    .hamburger_menu {
      background: #EDEDED;
      width: 100vw;
      position: fixed;
      left: 0;
      height: 95.5vh;
      top: 2.5rem;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      z-index: 99;
      padding: 2rem;

      &.closed {
        display: none !important;
      }
      
      .menu_items {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        row-gap: 2rem;

        .info-links{
          display: flex;
          flex-direction: column;
          row-gap:1rem;
          align-items: center;
          justify-content: center;
        }

        a {
          font-size: 1.25rem;
        }
      }
    }
  }
}