
@import 'src/styles/base';

.carousel-container {
    margin-bottom: $spacing-big;
    position: relative;

    .slick-list,
    .slick-track
     {
        width: 20vw;
        //   height: calc(100vh - #{$header-height});
        // object-fit: cover;
    }

    .slick-dots {
        position: absolute;
        bottom: 4.1rem;
        z-index: 9;
    }

    .slick-dots {
        button {
            &:before {
                font-size: 2.91rem;
                color: white !important;
            }
        }
    }
}


.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.66rem;


    .text-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .carousel-text {
            //   font-size: $font-size-large;
            // margin: 0 6.6rem;
            text-align: center;
            // width: 50rem;
        }

        span {
            cursor: pointer;
        }
    }
}

.slick-dots {
    position: absolute;
    top: 41.5rem;
    height: 2rem;
}

.slick-dots {
    li {
        &.slick-active {
            button {
                &:before {
                    opacity: 1;
                    //   color: $secondary-color !important;
                }
            }
        }

        button {
            &:before {
                opacity: 0.5;
                // color: $grey-color-5 !important;
                font-size: 2rem;
            }
        }
    }
}



#slider-container {
    &.slider {
        overflow: initial;
    }
}

* {
    &:focus {
        outline: 0;
    }
}
