@import 'src/styles/base';

.carousel-container {

    background-color: white;

    .slick-slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slick-list,
    .slick-track {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        cursor: pointer;
        color: $color-primary;
        text-decoration: underline;
        line-height: 1.5rem;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $spacing-xxbig;

        &.full {
            padding: 0;
        }

        .text-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .carousel-text {
                margin: 0 $spacing-small;
                text-align: center;
                font-style: italic;
            }
        }
    }

    .carousel-text {
        .stars-container {
            display: flex;
            margin-bottom: $spacing-small;
            margin-top: $spacing-xsmall;
        }

        .name {
            font-size: $font-size-xbig;
            color: $color-blue;
            font-style: normal;
            font-weight: 500;
            text-align: initial;
        }

        .text {
            color: $color-blue;
            font-style: normal;
            font-weight: 500;
            text-align: initial;

            &.italic {
                font-style: italic;
                text-align: center;
            }
        }
    }

    #slider-container {
        &.slider {
            overflow: initial;
        }
    }

    * {
        &:focus {
            outline: 0;
        }
    }
}