@import '/src/styles/base';

.register-page {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 65%;
  align-items: center;
  column-gap: $spacing-big;

  .auth-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .checkbox-container {
        margin: $spacing-xsmall 0 $spacing-medium 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
          display: flex;
          align-items: center;
        }

        .checkbox {
          height: 1.25rem;
          width: 1.25rem;
          background: $color-grey-disabled;
          accent-color: $color-primary;
        }

        span {
          color: $color-blue;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      input {
        border: 1px solid $color-primary;
        border-radius: 2px;
        padding: 12px;
        box-shadow: 0 3px 6px 0 rgba(black, 0.2);

        &.full-width {
          width: 100%;
        }
      }

      label {
        font-size: $font-normal;
        color: $color-dark-blue;
        margin: $spacing-xsmall 0;
      }

      .code-label {
        color: $color-green;
        font-size: $font-normal;
        text-align: center;
        margin: $spacing-medium 0 $spacing-xsmall 0;
      }

    }
  }
}
