@import "../base";

.button {
  @include flex-centered;
  width: 100%;
  user-select: none;
  background-color: $color-primary;
  border-radius: $radius-small;
  color: $color-white;
  font-size: $font-size-big;
  font-weight: $font-weight-medium;
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(black, 0.2);
  transition: box-shadow 0.1s $ease-in-out, background-color 0.1s $ease-in-out, transform 0.1s $ease-in-out;
  cursor: pointer;
  user-select: none;

  &.round {
    border-radius: 0.37rem;
  }

  &:hover {
    border: 2px solid $color-primary-hover !important;
    box-shadow: 0 3px 8px 0 rgba(black, 0.2);
    background-color: $color-primary-hover !important;
  }

  &:focus {
    background-color: darken($color-primary, 5%);
    box-shadow: 0 3px 4px 0 rgba(black, 0.25);
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgba(black, 0.3);
    background-color: $color-primary-pressed !important;
    border: 2px solid $color-primary-pressed !important;
    transform: scale(0.99);
    transition: box-shadow 0.15s $bouncy-out, background-color 0.15s $bouncy-out, transform 0.2s $big-bouncy-out;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: $color-disabled;
    box-shadow: none;
    color: rgba($color-black, 0.3);

    &:hover {
      box-shadow: none;
      background-color: unset;
    }

    &:focus {
      box-shadow: none;
      background-color: unset;
    }

    &:active {
      box-shadow: none;
      background-color: unset;
    }

    //&:hover, &:focus, &:active {
    //  background-color: $color-disabled;
    //  box-shadow: none;
    //  transform: none;
    //}

    //&:focus {
    //  background-color: darken($color-disabled, 10%);
    //}
  }

  &.border-button {
    color: $color-primary;
    border: 2px solid $color-primary;
    padding: $spacing-small $spacing-medium;
    line-height: 27px;
    box-shadow: none;
    background: white;
    border-radius: 0;

    &.big {
      line-height: 37px;
    }

    &:focus {
      background-color: darken($color-disabled, 4%);
    }

    &:active {
      background-color: darken($color-disabled, 4%);
    }

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: $color-disabled;
      box-shadow: none;
      color: rgba($color-black, 0.3);

      &:hover {
        box-shadow: none;
        background-color: unset;
      }

      &:focus {
        box-shadow: none;
        background-color: unset;
      }

      &:active {
        box-shadow: none;
        background-color: unset;
      }
    }
  }

  &.gray-button {
    background-color: $color-disabled;
    color: $color-black;
    border: none;
    line-height: 27px;
    box-shadow: none;

    &.big {
      line-height: 37px;
    }

    &:focus {
      background-color: darken($color-disabled, 4%);
    }

    &:active {
      background-color: darken($color-disabled, 4%);
    }

    &.disabled {
      cursor: not-allowed;
      background-color: $color-disabled;
      box-shadow: none;

      &:hover,
      &:focus,
      &:active {
        background-color: $color-disabled;
        box-shadow: none;
        transform: none;
      }

      &:focus {
        background-color: darken($color-disabled, 10%);
      }
    }
  }
}