@import 'src/styles/form';

.filter-page {
    padding: $spacing-xbig;

    .add {
        width: 100%ß;
    }

    .pagination {
        margin-top: 30px;

        span {
            padding: 10px 15px 10px;
            border-radius: 40%;
            background-color: #CCD0D6;
            color: #0E3A41;
            margin-right: 10px;
            cursor: pointer;

            &.active {
                background-color: #0E3A41;
                color: #FFFFFF;
            }
        }
    }

    .center-side {
        margin-top: $spacing-small;
    }

    .right-side {
        max-width: 20rem;

        img {
            width: 100%;
        }
    }

    .results-container {
        display: flex;
        flex-direction: column;
        row-gap: $spacing-small;
    }

    .filter-main-content {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: $spacing-small;

        .dropdown {
            background-color: white;
            padding: $spacing-small;
            margin-top: $spacing-small;
        }

        .searchbar {
            background-color: white;

            .upper-container {
                display: flex;
                flex-direction: row;
                margin-bottom: $spacing-small;

                select {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-big-width) {
   .filter-page{
    .filter-main-content {
        grid-template-columns: 1fr !important;
    }
    .left-side, .center-side, .right-side{
        max-width: 80vw;
    }
    .pagination{
        display: flex;
        max-width: 80vw!important;
        overflow: scroll;
    }
    .right-side{
        margin-top:$spacing-medium;
    }
   }
}