@import 'src/styles/form';

.filter-page {
    padding: $spacing-xbig;

    .center-side {
        margin-top: $spacing-small;
    }

    .results-container {
        display: flex;
        flex-direction: column;
        row-gap: $spacing-small;
    }

    .filter-main-content {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: $spacing-small;

        .dropdown {
            background-color: white;
            padding: $spacing-small;
            margin-top: $spacing-small;
        }

        .searchbar {
            background-color: white;

            .upper-container {
                display: flex;
                flex-direction: row;
                margin-bottom: $spacing-small;

                select {
                    width: 100%;
                }
            }
        }
    }
}