@import "styles/imports";
@import "styles/base";

* {
  box-sizing: border-box;
  font-family: $font-family;

}

body {
  background-color: $color-background;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

h1 {
  font-size: $font-title;
}

textarea {
  padding: $spacing-xsmall;
}

.counter {
  color: #0E3A41;
  text-decoration: underline;
  display: flex;
}

.checkbox {
  height: 20px!important;
  width: 20px!important;
  border-radius: 0.25rem;
  background: $color-grey-disabled;
  accent-color: $color-primary;
  margin-right: 0.5rem;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.grid-checkbox {
  display: grid;
  grid-template-columns: 40px auto;
  flex-direction: row;
  div {
    align-self: start;
    padding: unset;
    margin:unset;
  }
}

.fixed-heiwi {
  height: 20px!important;
  width: 20px!important;
}

.rating-container {
  width: max-content;
}

.add-photo {
  color: #667284;
  text-decoration: underline;
  margin-left: $spacing-small;
  cursor: pointer;
  font-size: $font-normal;

  img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }
}

input,
select,
option {
  border: 1px solid $color-primary;
  border-radius: 2px;
  padding: 12px;
  box-shadow: 0 3px 6px 0 rgba(black, 0.2);
  color: $color-blue;

  &.error {
    border: 1px solid $color-secondary !important;
    color: $color-secondary;
  }

  &.full-width {
    width: 100%;
  }
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("images/dropdown.svg") no-repeat;
  background-position-x: 97%;
  background-position-y: 13px;
}

label {
  font-size: $font-normal;
  color: $color-dark-blue;
  margin: $spacing-xsmall 0;
}

.err {
  color: $color-secondary !important;
}

.error {
  color: $color-secondary;
  // margin: $spacing-small 0;
  // text-align: center;
  width: 100%;

  &.small-margin-top {
    margin-top: $spacing-small;
  }
}

.code-label {
  color: $color-green;
  font-size: $font-normal;
  text-align: center;
  margin: $spacing-medium 0 $spacing-xsmall 0;

  &.click {
    cursor: pointer;
  }
}

.terms-hyper {
  cursor: pointer;
  text-decoration: underline;
  color: $color-primary;
}

.margin-top {
  margin-top: $spacing-default;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.hide {
  display: none !important;
}

.container-title-small {
  font-size: $font-size-xbig !important;
  font-weight: 600;
}

.line-separator {
  width: 100%;
  height: 1px;
  background-color: #E5E7EA;
  margin-top: $spacing-small;
}

.container-title {
  font-size: $font-subtitle;
  margin-bottom: $spacing-small;

  &.profile-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-left: 10px;
        height: 65px;
        width: 65px;
        border-radius: 50%;
      }
    }
  }
}

.contact-data,
.company-data,
.schedule-container,
.facilities-container,
.specialities-container,
.hq-container,
.description-data,
.collab-unit-data,
.collab-doctors-data,
.file-data-doc {
  display: flex;
  flex-direction: column;
  background: white;
  padding: $spacing-small;
  text-align: left;
  margin: $spacing-medium 0;

  .profile-photo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pp {
      display: flex;
      align-items: center;

      img {
        margin-left: $spacing-small;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 100%;

      }
    }
  }
}


.add-review-wrapper {
  margin-top: 20px;

  .button {
    width: 30%;
    margin: auto;
  }

  .add-review-form {
    row-gap: $spacing-xsmall;
    display: flex;
    flex-direction: column;

    label {
      text-align: left;
    }

    img {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
    }

    .stars-container {
      margin-bottom: $spacing-small;
    }
  }
}

.links-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-small;
  margin-bottom: $spacing-medium;

  &.small-margin-bottom {
    margin-bottom: 10px;
  }

  a {
    margin: 0;
  }
}


@media screen and (max-width: $mobile-big-width) {
  h1 {
    font-size: 1.5rem;
    margin: 1.25rem 0;
  }

  .container-title {
    font-size: 1.25rem !important;
  }

  p {
    font-size: 1.06rem !important;
    text-align: justify;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none !important;
  }
}