@import "styles/imports";
@import "styles/base";

* {
  box-sizing: border-box;
  font-family: $font-family;

}

body {
  background-color: $color-background;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus, input:focus {
  outline: none;
}

h1 {
  font-size: $font-title;
}

.checkbox {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  background: $color-grey-disabled;
  accent-color: $color-primary;
  margin-right: 0.5rem;
}
