@import "styles/imports";
@import "styles/base";

* {
  box-sizing: border-box;
  font-family: $font-family;

}

body {
  background-color: $color-background;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

h1 {
  font-size: $font-title;
}

textarea {
  padding: $spacing-xsmall;
}

.checkbox {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  background: $color-grey-disabled;
  accent-color: $color-primary;
  margin-right: 0.5rem;
}

input,
select,
option {
  border: 1px solid $color-primary;
  border-radius: 2px;
  padding: 12px;
  box-shadow: 0 3px 6px 0 rgba(black, 0.2);
  color: $color-blue;

  &.error {
    border: 1px solid $color-secondary !important;
    color: $color-secondary;
  }

  &.full-width {
    width: 100%;
  }
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("images/dropdown.svg") no-repeat;
  background-position-x: 97%;
  background-position-y: 13px;
}

label {
  font-size: $font-normal;
  color: $color-dark-blue;
  margin: $spacing-xsmall 0;
}

.error {
  color: $color-secondary;
  //margin: $spacing-small 0;

  &.small-margin-top {
    margin-top: $spacing-small;
  }
}

.margin-top {
  margin-top: $spacing-default;
}

.mobi {
  display: none;
}

.desktop {
  display: block;
}

.hide {
  display: none !important;
}

.container-title-small {
  font-size: $font-size-xbig !important;
  font-weight: 600;
}

.line-separator {
  width: 100%;
  height: 1px;
  background-color: #E5E7EA;
  margin-top: $spacing-small;
}

@media screen and (max-width: $mobile-big-width) {
  h1 {
    font-size: 1.5rem;
    margin: 1.25rem 0;
  }

  .container-title {
    font-size: 1.25rem !important;
  }

  p {
    font-size: 1.06rem !important;
    text-align: justify;
  }

  .mobi {
    display: block;
  }

  .desktop {
    display: none !important;
  }
}