.map-container {
  height: 400px;
}

.map-clinic-page {
  margin-top: 5px;
  height: 210px;
}

.map-filter-page {
  height: 810px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
