@import 'src/styles/base';
@import 'src/styles/form';

.admin-data-page,
.clinic-profile-page {
 margin:auto;
 max-width:70%;
}

@media screen and (max-width: $mobile-big-width) {

  .admin-data-page,
  .clinic-profile-page {
    margin: $spacing-small $spacing-small $spacing-medium $spacing-small;

    .col-2,
    .col-3 {
      grid-template-columns: 1fr;
    }

    .image-upload {
      flex-direction: column;

      .upload-photo {
        width: 100%;
      }

      #file-list {
        margin-left: 0;
        margin-top: $spacing-small;

        .selected-file {
          justify-content: center;
        }
      }
    }
  }
}