@import 'src/styles/base';

.admin-data-page {
  margin: $spacing-page;

  .contact-data, .company-data {
    display: flex;
    flex-direction: column;
    background: white;
    padding: $spacing-small;
    text-align: left;
    margin: $spacing-medium 0;

    .container-title {
      font-size: $font-subtitle;
      margin-bottom: $spacing-small;
    }
  }

  p {
    margin: $spacing-xbig 0;
    text-align: initial;
    line-height: 1.5rem;
  }

  .fields-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    background: #F5F9F9;
    padding: $spacing-small;
    gap: $spacing-small;

  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .button {
    width: 30%;
    margin: auto;
  }

  .image-upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacing-big;

    img {
      cursor: pointer;
    }
  }

  #file-list {
    width: 100%;
    margin-left: $spacing-medium;
    max-height: 15rem;
    overflow: scroll;

    .selected-file-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: $spacing-medium;
    }

    .selected-file {
      background: $color-grey-light;
      border-radius: 1.5rem;
      padding: $spacing-small;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      img {
        margin-left: $spacing-medium;
        cursor: pointer;
      }
    }
  }
}
