@import 'src/styles/base';
@import 'src/components/Dropdown/Dropdown.scss';

.home-page {
    padding: $spacing-big $spacing-xbig;

    .searchbar {
        display: flex;
        margin-bottom: $spacing-xbig;
        padding: 0 16rem;

        .search {
            background: white url("/images/search.svg") no-repeat 13px center;
            padding-left: $spacing-huge;
            width: 100%;

            &::placeholder {
                font-style: italic;
                font-size: $font-normal;
            }
        }

        .border-button {
            background: $color-primary;
            color: white;
            padding: $spacing-small;
            width: fit-content;
            font-size: $font-normal;
            font-weight: 600;
            margin-left: $spacing-small;
        }
    }

    .tags-wrapper {
        display: flex;
        column-gap: $spacing-small;
        justify-content: center;

        .tag-container {
            background-color: white;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            padding: 1.6rem;
            min-width: 20rem;

            img {
                width: 4.3rem;
                height: 100%;
            }

            .text-wrapper {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                margin-left: $spacing-small;
                row-gap: $spacing-xsmall;


                .title {
                    font-size: $font-size-xbig;
                }

                .redirect {
                    text-decoration: underline;
                    font-size: $font-small;
                }
            }
        }
    }

    .container-title {
        font-size: $font-subtitle;
        color: $color-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing-medium 0 $spacing-small 0;

        img {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: $spacing-xsmall;
        }

        .subtitle {
            text-decoration: underline;
            color: $color-primary;
            font-size: $font-normal;
        }
    }

    .results-container {
        display: flex;
        flex-direction: column;
        row-gap: $spacing-small;
    }

    .drop {
        &__menu {
            margin: 0 !important;
            background-color: #F5F9F9 !important;
            position: relative !important;
        }

        &__control {
            border-color: $color-primary !important;
            box-shadow: none !important;
            background-color: $color-primary;

            &:hover {
                box-shadow: none !important;
                border-color: $color-primary !important;
            }

            &:focused {
                box-shadow: none !important;
                border-color: $color-primary !important;
            }
        }
    }

    .info-container {
        display: flex;
    }

    .content {
        display: grid;
        grid-template-columns: 5fr 1fr;
        column-gap: $spacing-small;
    }

    .side-content {
        margin-top: 4.5rem;
    }

}